@model OnlineShop.Models.Order

@{
    ViewBag.Title = "XacNhan";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Đơn hàng
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Xác nhận đơn hàng</a></li>
        </ol>

    </div>

    @using (Html.BeginForm("XacNhan","DonHang", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdOder)


            <div id="page-inner">

                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="card">
                            <div class="card-action">
                                Chi tiết đơn hàng : @Model.IdOder
                            </div>
                            <div class="card-content">
                                <dl>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Date) : @String.Format("{0:dt/MM/yyyy}", Model.Date)
                                    </dt>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ShipName) : @Html.DisplayFor(model => model.ShipName)
                                    </dt>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.PaymentMethod) : @if (Model.PaymentMethod.Value == 0)
                                        {
                                            <td>
                                                @Model.PaymentMethod.Value.ToString("Thanh toán khi giao hàng")
                                            </td>
                                        }
                                        else if (Model.PaymentMethod.Value == 1)
                                        {
                                            <td>
                                                @Model.PaymentMethod.Value.ToString("Chuyển khoản")
                                            </td>
                                        }
                                    </dt>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.ShipMobile) :  @Html.DisplayFor(model => model.ShipMobile)
                                    </dt>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ShipAddress) : @Html.DisplayFor(model => model.ShipAddress)
                                    </dt>
                                </dl>
                            </div>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => m.OrderDetails.FirstOrDefault().Product.Name)</th>
                                        <th>@Html.DisplayNameFor(m => m.OrderDetails.FirstOrDefault().Product.Size)</th>
                                        <th>@Html.DisplayNameFor(m => m.OrderDetails.FirstOrDefault().Quantity)</th>
                                        <th>@Html.DisplayNameFor(m => m.OrderDetails.FirstOrDefault().Product.PriceNew)</th>
                                        <th>Tác vụ</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderDetails)
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(modeliteam => item.Product.Name)</td>
                                        <td>@Html.DisplayFor(modeliteam => item.Product.Size)</td>
                                        <td>@Html.DisplayFor(modeliteam => item.Quantity)</td>
                                        <td>@(item.Product.Price.HasValue ? item.Product.Price.Value.ToString("N0"):"Chưa có giá") </td>
                                        <td class="center">
                                            @*Xóa bảng dùng ajax*@
                                            @Ajax.ActionLink("Xóa", "Delete", new { id = item.Product.IdProduct }, new AjaxOptions
                                        {
                                            Confirm = "Xóa dòng này dữ liệu sẽ mất và không thể khôi phục",
                                            OnComplete = "$('#row_" + @item.Product.IdProduct + "').remove()",
                                            HttpMethod = "Delete"
                                        })
                                        </td>

                                    </tr>

                                    }
                                </tbody>
                            </table>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10" style="margin-left: 10px; margin-bottom:10px;">
                                    <input type="submit" value="Xác nhận" class="btn btn-primary" />
                                </div>
                            </div>
                            @*<a class="btn btn-primary" href="@Url.Action("Index","DonHang")" style="margin-bottom:10px; margin-left:10px;"><i class="material-icons right">replay</i>Trở về</a>*@
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>
            </div>
        </div>
    }
    <a href="@Url.Action("Index","DonHang")"></a>
</div>