@model IEnumerable<OnlineShop.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNewProducts = (List<OnlineShop.Models.Product>)ViewBag.NewProducts;
    var ListFeatureProduct = (List<OnlineShop.Models.Product>)ViewBag.ListFeatureProduct;

}


@Html.Partial("_Slider")
<!--//================New arrival section start==============//-->
<div class="new-arrival-section padB60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="journey-heading">
                    <h4><span>Hàng mới về</span></h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="slider-two">
                    <div class="row">
                        <div id="new_arrival" class="owl-carousel owl-theme">
                            @foreach (var item in listNewProducts)
                            {
                                //var url = "/Chi-tiet/" + item.GroupProduct + "-" + item.IdProduct;

                                @*if (item.GroupProduct.TypeId == 1)*@
                                {
                                    <div class="item">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="arrival-image">
                                                <div class="arrival-image-overlay">
                                                    <figure>
                                                        @*<span class="overlay-two"></span>*@
                                                        <a href="#"><img src="~/Content/assets/images/best-product/@item.Image" alt="@item.Name"></a>
                                                        <figcaption>
                                                            <ul class="cart-icon">
                                                                <li><a href="/them-gio-hang?productId=@item.IdProduct&quantity=1"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                                <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                                <li><a href="/xem-nhanh?productId=@item.IdProduct&quantity=1" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                            </ul>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="arrival-image-content">
                                                    <h4><a href="@Url.Action("Detail","ProductDetail", new { Id = item.IdProduct})">@item.Name</a></h4>
                                                    <span>@(item.PriceNew.HasValue ? item.PriceNew.Value.ToString("N0") : "Liên hệ ") VND</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================New arrival section end==============//-->
<!--//================Best product section start==============//-->
<div class="best_product padTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="journey-heading">
                    <h4><span>mua nhiều</span></h4>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="product_menu">
                    <ul>
                        <li><a class="filter-1 wa-button hover-color active" data-filter="all">Tất cả</a></li>
                        <li><a class="filter-1 wa-button hover-color" data-filter=".cat1">Cá</a></li>
                        <li><a class="filter-1 wa-button hover-color" data-filter=".cat2">Phụ kiện</a></li>
                        <li><a class="filter-1 wa-button hover-color" data-filter=".cat3">Thức ăn</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 padT30">
                <div class="row">
                    <div id="MixItUp1">
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat1">
                            @foreach (var item in ListFeatureProduct)
                            {
                                //var url = "/Chi-tiet/" + item.GroupProduct + "-" + item.IdProduct;
                                @*if (item.GroupProduct.TypeId == 1)*@

                                <div class="arrival-image">
                                    <div class="arrival-image-overlay">
                                        <figure>
                                            @*<span class="overlay-two"></span>*@
                                            <a href="#"><img src="~/Content/assets/images/best-product/@item.Image" alt="@item.Name"></a>
                                            <figcaption>
                                                <ul class="cart-icon">
                                                    <li><a href="/them-gio-hang?productId=@item.IdProduct&quantity=1"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="arrival-image-content">
                                        <h4><a href="@Url.Action("Detail","ProductDetail", new { Id = item.IdProduct})">@item.Name</a></h4>
                                        <span>@(item.PriceNew.HasValue ? item.PriceNew.Value.ToString("N0") : "Liên hệ ") VND</span>
                                    </div>
                                </div>

                            }
                        </div>
                        <!--//================xem nhanh section start==============//-->
                        @*<div class="quick-vive-popap">
            <div class="container">
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-lg">
                        <div class="Quick-view-popup modal-content text-left">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="col-md-12 col-xs-12 popap-open-box">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 marB30">
                                                <figure>
                                                    <img src="~/Content/assets/images/best-product/@item.Image" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 responsive-top">
                                        <h3 class="theme-headdings text-left  product-detail-title s"><a href="#">@item.Name</a></h3>
                                        <div class="clear"></div>
                                        <div class="per-box texy-left marT15">
                                            <p>@item.Detail</p>
                                        </div>
                                        <div class="product-detail-btn  padT15">
                                            <div class="form-row col-sm-5 col-xs-12 country-boxs billing-box select ">
                                                <div class="row">
                                                    <p>
                                                        <label for="billing_state28">Material</label>
                                                        <select class="billing_state28" id="billing_state28" name="billing_state">
                                                            <option value="">Select Color</option>
                                                            <option value="AP">Red</option>
                                                            <option value="AR">Blue</option>
                                                            <option value="AS">Green</option>
                                                            <option value="BR">Yellow</option>
                                                            <option value="CT">Black</option>
                                                        </select>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-row col-sm-5 country-boxs billing-box select down ">
                                                <div class="row ">
                                                    <p>
                                                        <label for="billing_state27">Brands</label>
                                                        <select class="billg_state" id="billing_state27" name="billing_state">
                                                            <option value="">Select Brands</option>
                                                            <option value="AP">nghị</option>
                                                            <option value="AR">Clara</option>
                                                            <option value="AS">Ziveg</option>
                                                            <option value="BR">Clara</option>
                                                        </select>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-7 row">
                                            <div class="order-data box order-table ">
                                                <div class="order-table-cell order-text product-input-type">
                                                    <input type="number" value="01" class="qty" name="qty1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-5 product-box-btm-blog row">
                                            <a href="#" class="template-button light pro btn left marT">Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="product-button">
                                <a href="@Url.Action("Index","CuaHang")" class="template-button">Xem tất cả</a>
                            </div>
                        </div>
                        @*
        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat2">

            @foreach (var item in listNewProducts)
            {
                if (item.GroupProduct.TypeId == 1)
                {
                    <div class="arrival-image">
                        <div class="arrival-image-overlay">
                            <figure>
                                <span class="overlay-two"></span>
                                <img src="@item.Image" alt="">
                                <figcaption>
                                    <ul class="cart-icon">
                                        <li><a href="/them-gio-hang?productId=@item.IdProduct&quantity=1"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="arrival-image-content">
                            <h4><a href="product-detail.html">@item.Name</a></h4>
                            <span>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ ") VND</span>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat3">
            @foreach (var item in listNewProducts)
            {
                if (item.GroupProduct.TypeId == 1)
                {
                    <div class="arrival-image">
                        <div class="arrival-image-overlay">
                            <figure>
                                <span class="overlay-two"></span>
                                <img src="@item.Image" alt="">
                                <figcaption>
                                    <ul class="cart-icon">
                                        <li><a href="/them-gio-hang?productId=@item.IdProduct&quantity=1"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="arrival-image-content">
                            <h4><a href="product-detail.html">@item.Name</a></h4>
                            <span>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ ") VND</span>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat4">
            @foreach (var item in listNewProducts)
            {
                if (item.GroupProduct.TypeId == 1)
                {
                    <div class="arrival-image">
                        <div class="arrival-image-overlay">
                            <figure>
                                <span class="overlay-two"></span>
                                <img src="@item.Image" alt="">
                                <figcaption>
                                    <ul class="cart-icon">
                                        <li><a href="/them-gio-hang?productId=@item.IdProduct&quantity=1"><span class="add-to-wish">thêm vào giỏ</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><span class="add-to-wish">Mua ngay</span><i class="fa fa-money" aria-hidden="true"></i></a></li>
                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">xem nhanh</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="arrival-image-content">
                            <h4><a href="product-detail.html">@item.Name</a></h4>
                            <span>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ ") VND</span>
                        </div>
                    </div>
                }
            }
        </div>
                        *@







                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Banner-two section end==============//-->
<!--//================Service section start==============//-->
<div class="service-section padTB60">
    <div class="container">
        <div class="row">
            <div class="service-section-content">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="free-shipping free-shipping-res">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <figure>
                                <img src="~/Content/assets/images/all-image/shipping-1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">miễn phí giao hàng</a></h4>
                            <p> giao hàng trên toàn quốc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="free-shipping free-shipping-res">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <figure>
                                <img src="~/Content/assets/images/all-image/shipping-2.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">hỗ trợ</a></h4>
                            <p>hố trợ nhiệt tình 24/24</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="free-shipping">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <figure>
                                <img src="~/Content/assets/images/all-image/shipping-3.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">đảm bảo uy tín</a></h4>
                            <p>cam kết chính hãng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Slider-two section end==============//-->



<!--//================xem nhanh section end==============//-->