
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>N30 Shop | Admin</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <link rel="shortcut icon" href="~/Areas/Admin/Content/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Areas/Admin/Content/assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap Styles-->
    <link href="~/Areas/Admin/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="~/Areas/Admin/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="~/Areas/Admin/Content/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="~/Areas/Admin/Content/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/js/Lightweight-Chart/cssCharts.css">
    <!--Review anh-->
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href="@Url.Action("Home","Home")"><strong>N30 Shop</strong></a>

                <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">

                @if (Session["Name"] != null)
                {
                    <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i><b>@Session["Name"].ToString()</b> <i class="material-icons right">arrow_drop_down</i></a></li>
                }

            </ul>
        </nav>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li>
                <a href="empty.html"><i class="fa fa-user fa-fw"></i> Hồ sơ</a>
            </li>
            <li>
                <a href="empty.html"><i class="fa fa-gear fa-fw"></i> Cài đặt</a>
            </li>
            <li>
                <a href="empty.html"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
            </li>
        </ul>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="  waves-effect waves-dark" href="@Url.Action("Home","Home")"><i class="fa fa-home"></i> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#" class="  waves-effect waves-dark"><i class="fa fa-sitemap"></i> Quản lý sản phẩm<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Index","QuanLyCa")">Cá</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","QuanLyPhuKien")">Phụ kiện</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","DonHang")" class="  waves-effect waves-dark"><i class="fa fa-table"></i> Quản lý đơn hàng</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","QuanLytaiKhoan")" class="  waves-effect waves-dark"><i class="fa fa-fw fa-user"></i> Quản lý tài khoản</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","GopY")" class="  waves-effect waves-dark"><i class="fa fa-fw fa-comments"></i> Góp ý</a>
                    </li>

                    <li>
                        <a href="empty.html" class="  waves-effect waves-dark"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                    </li>

                </ul>

            </div>

        </nav>
        @RenderBody();
    </div>
    <!-- /. PAGE WRAPPER  -->
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="~/Areas/Admin/Content/assets/js/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/Areas/Admin/Content/assets/js/bootstrap.min.js"></script>

    <script src="~/Areas/Admin/Content/assets/materialize/js/materialize.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="~/Areas/Admin/Content/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="~/Areas/Admin/Content/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/morris/morris.js"></script>


    <script src="~/Areas/Admin/Content/assets/js/easypiechart.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/easypiechart-data.js"></script>

    <script src="~/Areas/Admin/Content/assets/js/Lightweight-Chart/jquery.chart.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="~/Areas/Admin/Content/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <!-- Custom Js -->
    <script src="~/Areas/Admin/Content/assets/js/custom-scripts.js"></script>
    @*<script>

            let list = document.querySelectorAll('.list');
            for (let i = 0; i < list.length; i++) {
                list[i].onlick = function () {
                    let j = 0;
                    while (j < list.length) {
                        list[j++].className = 'list';
                    }
                    list[i].className = 'active-menu';
                }
            }
        </script>*@

    @*review anh*@
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(250)
                        .height(300);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>


</body>

</html>