<div class="wathemes-menu relative">
    <!-- navbar -->
    <div class="navbar navbar-default theme-bg mar0" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="navbar-header">
                            <!-- Button For Responsive toggle -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Navbar Collapse -->
                        <div class="navbar-collapse collapse">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- nav -->
                                <ul class="nav navbar-nav">
                                    <li>
                                         <a href="@Url.Action("Index", "Home")" class="header-menu-one">Trang chủ</a>
                                        @*@Html.ActionLink("Trang chủ", "Index", "Home", new { @class = "header-menu-one"})*@
                                    </li>
                                    <!-- /.dropdown -->
                                    <li>
                                        <a href="@Url.Action("Index","PhuKien")" class="header-menu-one">Phụ kiện<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("Loc","PhuKien")">Lọc</a></li>
                                            <li><a href="@Url.Action("TrangTri","PhuKien")">Trang trí</a></li>
                                            <li><a href="@Url.Action("ChePhamNuoc","PhuKien")">Chế phẩm nước</a></li>
                                            <li><a href="@Url.Action("ThietBiChieuSang","PhuKien")">Thiết bị chiếu sáng</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","CuaHang")" class="header-menu-one">Cửa hàng<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="right-side">
                                                <a href="@Url.Action("CaVang","CuaHang")">Cá vàng</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Guppy","CuaHang")">Guppy</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Betta","CuaHang")">Cá Betta</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("LaHan","CuaHang")">Cá la hán</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Koi","CuaHang")">Cá Koi</a>
                                            </li>

                                        </ul>
                                    </li>
                                    @*<li>
                                        <a href="@Url.Action("Index","Blog")" class="header-menu-one">blog</a>
                                    </li>*@
                                    <li>
                                        <a href="@Url.Action("Index","About")" class="header-menu-one">Giới thiệu</a>
                                        @*@Html.ActionLink("Giới thiệu", "About","Home")*@
                                    </li>
                                    <li><a href="@Url.Action("Index", "Contact")" class="header-menu-one">liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- navbar-collapse -->
                </div>
                <!-- col-md-10 -->
                <div class="col-md-2 col-sm-2 col-xs-6 shopping-cart-section">
                    <div class="shopping-cart-icon">
                        <ul>
                            <li><a href="#" class="search-click"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                            <li><a href="@Url.Action("Index","GioHang")"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!--navbar -->
    <div id="search-open" class="top-search">
        <div class="container-fluid">
            <div class="row">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <form action="/tim-kiem" method="get">
                        <input type="text"  class="form-control" id="txtKeyword" name="keyword" placeholder="Search">
                    </form>

                        <a class="input-group-addon close-search search-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
