
@model OnlineShop.Models.UserAccount
@using BotDetect.Web.Mvc;

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
@{
    MvcCaptcha RegisterCaptcha = new MvcCaptcha("RegisterCaptcha");
    RegisterCaptcha.UserInputID = "CaptchaCode";
}

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading padTB100">
                        <div class="page-header-heading padB10">
                            <h3>Đăng kí</h3>
                        </div>
                        <div class="breadcrum-box">
                            <ul class="breadcrum">
                                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                                <li class="active"><a href="#">Đăng kí</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Breadcrumb section end==============//-->
<!--//================Create account section start==============//-->
<div class="account-box padTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                <div class="registerBox">
                    <h4>Tạo tài khoản</h4>
                    @using (Html.BeginForm("Register", "Register", FormMethod.Post))
                    {
                        <form class="register-form">
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                <hr />
                                <div class="form-group">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @if (ViewBag.Success != null)
                                    {
                                        <div class="alert alert-success">@ViewBag.Success</div>
                                    }
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.DisplayNameFor(model => model.Email)
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.DisplayNameFor(model => model.FirstName)
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.DisplayNameFor(model => model.LastName)
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.DisplayNameFor(model => model.Phone)
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.DisplayNameFor(model => model.Password)
                                    <div class="col-md-10">
                                        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.Captcha(RegisterCaptcha)
                                        @Html.TextBox("CaptchaCode")
                                        @Html.ValidationMessage("CaptchaCode")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Tạo tài khoản" class="template-button" />
                                        <p><a href="@Url.Action("Index","Home")"><i class="fa fa-long-arrow-left marR10" aria-hidden="true"></i>trở về cửa hàng</a></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


